# Add the following to your gitignore:

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
options.txt
fonts/

logs/

valkyrielib/

woot/

journeymap/

crash-reports/

astralsorcery/

assets/

BotaniaVars.dat

knownkeys.txt

usercache.json

usernamecache.json

OpenComputersMod-1.7.5.192-lua52-native.64.dll

OpenComputersMod-1.7.5.192-lua53-native.64.dll

config/tellme/

asm/

local/

backups/
