
mods/

saves/

config/tellme/

options\.txt

OpenComputersMod-1\.7\.3\.146-lua52-native\.64\.dll

OpenComputersMod-1\.7\.3\.146-lua53-native\.64\.dll

knownkeys\.txt

BotaniaVars\.dat

crafttweaker\.log

valkyrielib/

logs/

journeymap/

fonts/

\.mixin\.out/
